<p id="notice"><%= notice %></p>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="col-lg-12">
      <%= link_to('Adicionar Novo Aluno', new_identity_path, html_options = {:class=>"btn btn-primary btn-lg btn-block" }) %>    
    </div>

<div class="col-lg-4">

</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Encontre Alunos</h5>
    
</div>
<div class="ibox-content">

<table class="table table-striped table-bordered table-hover dataTables-example">
<thead>
<tr>
    <th>Nome do aluno</th>
    <th>Matrícula</th>
    <th>Aula</th>
    <th>Validade</th>
    <th>Unidade</th>
    <th>Usuário</th>
    <th>Última Impressão</th>
    <th>Mostrar</th>
    <th>Editar</th>
    <th>Deletar</th>
</tr>
</thead>
<tbody>
    <% @identities.each do |identity| %>
      <tr>
        <td><%= identity.name %></td>
        <td><%= identity.enrollment_id %></td>
        <td><%= identity.lecture %></td>
        <td><%= identity.expiration %></td>
        <td><%= identity.campus %></td>
        <td><%= identity.user_name %></td>
        <td><%= identity.last_printed %></td>
        <td><%= link_to 'Mostrar', identity %></td>
        <td><%= link_to 'Editar', edit_identity_path(identity) %></td>
        <td><%= link_to 'Deletar', identity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</tbody>

</table>

</div>
</div>
</div>
</div>
</div>


<script type="text/javascript">


$(function() {

      $('.dataTables-example').dataTable({
          "dom": 'T<"clear">lfrtip',
          "tableTools": {
              "sSwfPath": "/assets/dataTables/swf/copy_csv_xls_pdf.swf"
          }
      });
});



</script>

<br>

<%= link_to 'New Identity', new_identity_path %>
