<style> 
#Camada_1 {
  background-image: url("/camada_1.png");
  position: relative;
  z-index: 1;
  background-size: 100% 100%;
  width: 243.78pt; 
  height: 153.07pt;
}

#nome_label {
  font-size: 10pt;
  font-family: "Lucida Sans";
  color: rgb(6, 29, 86);
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 90.71pt;
  top: 8.5pt;
  z-index: 5;
}

#nome_place {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 90.71pt;
  top: 21pt;
  width: 147.4pt;
  height: 11.3pt;
  font-size: 9pt;
  font-family: "Lucida Sans";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  z-index: 5;
}

#curso_label {
  font-size: 10pt;
  font-family: "Lucida Sans";
  color: rgb(6, 29, 86);
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 90.71pt;
  top: 42.52pt;
  z-index: 5;


}
#curso_place {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 90.71pt;
  top: 55pt;
  width: 147.4pt;
  height: 11.3pt;
  font-size: 9pt;
  font-family: "Lucida Sans";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

#unidade_label {
  font-size: 10pt;
  font-family: "Lucida Sans";
  color: rgb(6, 29, 86);
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 90.71pt;
  top: 76.54pt;
  z-index: 5;


}
#unidade_place {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 90.71pt;
  top: 89pt;
  width: 63pt;
  height: 11.3pt;
  font-size: 9pt;
  font-family: "Lucida Sans";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
#matricula_label {
  font-size: 10pt;
  font-family: "Lucida Sans";
  color: rgb(6, 29, 86);
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 158.74pt;
  top: 76.54pt;
  z-index: 5;

}
#matricula_place {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 158.74pt;
  top: 89pt;
  width: 79.37pt;
  height: 11.3pt;
  font-size: 9pt;
  font-family: "Lucida Sans";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

#validade_label {
  font-size: 10pt;
  font-family: "Lucida Sans";
  color: rgb(6, 29, 86);
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 90.71pt;
  top: 107.71pt;
  z-index: 5;


}
#validade_place {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 90.71pt;
  top: 121pt;
  width: 63pt;
  height: 11.3pt;
  font-size: 9pt;
  font-family: "Lucida Sans";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

#documento_label {
  font-size: 10pt;
  font-family: "Lucida Sans";
  color: rgb(6, 29, 86);
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 158.74pt;
  top: 107.71pt;
  z-index: 5;


}
#documento_place {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 158.74pt;
  top: 121pt;
  width: 79.37pt;
  height: 11.3pt;
  font-size: 9pt;
  font-family: "Lucida Sans";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
#foto_place {

  position: absolute;
  left: 13pt;
  top: 9pt;
  width: 67pt;
  height: 75pt;
}

img.avatar {
  width: 67pt;
  height: 75pt;
}
</style>


<div class="wrapper wrapper-content">
<div class="container">

  <div id="Camada_1">
      <div id="foto_place"><%= image_tag @identity.avatar.url(:thumb), :class => 'avatar' %></div>
      <div id="nome_label">NOME</div>
      <p id="nome_place"><%= @identity.name %></p>
      
      <div id="curso_label">CURSO</div>
      <div id="curso_place"><%= @identity.lecture %></div>

      <div id="unidade_label">UNIDADE</div>
      <div id="unidade_place"><%= @identity.campus %></div>      

      
      <div id="matricula_label">MATRÍCULA</div>
      <div id="matricula_place"><%= @identity.enrollment_id %></div>
      
      
      <div id="validade_label">VALIDADE</div>
      <div id="validade_place"><%= @identity.expiration %></div>

      <div id="documento_label">DOCUMENTO</div>
      <div id="documento_place">213243-4 ES</div>
  </div>


</div>
</div>

<%= link_to 'Edit', edit_identity_path(@identity) %> |
<%= link_to 'Back', identities_path %>


