    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <img src="http://cebrac.com.br/wp-content/themes/boldy/images/cebrac/logo_cebrac.png" alt="">

            </div>
            
            <br>
            <h3>Controle de Identidade Estudantil</h3>
            <p>
                Sistema proprietário CEBRAC
            </p>
            <br>
            <p>Digite suas credenciais para entrar no sistema.</p>

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 				<div class="form-inputs">
			    <%= f.input :email, required: false, autofocus: true, label: "Email" %>
			    <%= f.input :password, required: false, label: "Senha" %>
			    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			  	</div>

			  <div class="form-actions">
			    <%= f.button :submit, "Entrar" %>
			  </div>
			<% end %>

<%= render "devise/shared/links" %>
</div>
</div>